<html>
    <style type="text/css">
    .button {
        height: 100px;
        width: 100px;
        margin: 10px auto;
        border-radius: 50%;
        background-color: #2D9CDB;
        vertical-align: middle;
        cursor: none;
        transition: 0.2s;
        opacity: 0.8;
        border: 2px solid #FFFFFF;
        box-sizing: border-box;
    }
    .button:active {
        background-color: #155173;
        box-shadow: none;
        transform: translateY(2px);
    }
    </style>
    <body>
        <div class="button"></div>
    </body>
</html>